{% extends 'base.html' %}
{% load static %}
{% block content %}
{% include 'navbar.html'%}


<!-- Message block -->
{% if messages %}
{% for message in messages %}
<div class="alert alert-success text-center" role="alert">
    {{ message }}</div>
{% endfor %}
{% endif %}
<!-- End message block -->
<div id="content-body-wrapper" class="content-move mb-5">
    <div class="container-fluid pt-5">
        <div class="pt-5">
            <h5 style="color: white;">Hi, {{response.username}}</h5>
        </div>
        <div class="row pt-5 d-flex justify-content-center pt-5">
            <div class="col-md-12 col-xl-8">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Add Post</h4>
                    </div>
                    <div class="card-body">
                        <form method="POST" name="formPost" action="{% url 'addpost' %}" enctype="multipart/form-data">
                            {% csrf_token %}

                            <div class="">
                                <div class="form-group"> <label class="form-label">Post Name
                                    </label> <input type="text" class="form-control" name="txtPostName"
                                        id="txtPostName"> </div>
                                <div class="form-group"> <label class="form-label">Description</label> <textarea
                                        type="text" class="form-control" name="txtDesc" id="txtDesc"></textarea> </div>

                                <div class="form-group"> <label class="form-label">Drop Image</label>
                                    <input type="file" name="imgUpload" id="imgUpload" class="dropify">
                                </div>


                                <div class="mb-0 mt-4 row justify-content-end">
                                    <div class="col-md-12 col-xl-8"> <button class="btn btn-primary" type="submit" value="Submit"
                                            onclick=" return validatePost()">Submit</button> <button
                                            class="btn btn-secondary">Cancel</button> </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            </form>
        </div>
    </div>
        <div class="container-fluid pt-5">
            <div class="row pt-5">
                <div class="mt-sm-2 col-lg-12 col-md-12 col-sm-12">
                    <div class="rounded border bg-light">
                        <div class="card-body">
                            <p class="card-title">Post Details</p>
                            <div class="card-body pt-4">
                                <div class="table-responsive">
                                    <div id="data-table_wrapper" class="dataTables_wrapper dt-bootstrap5 no-footer">
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <table class="table table-bordered text-nowrap mb-0 dataTable no-footer"
                                                    role="grid" aria-describedby="data-table_info">
                                                    <thead class="border-top">
                                                        <tr>
                                                            <th class="bg-transparent  sorting border-bottom odd"
                                                                style="width: 88.725px; text-align:center; " rowspan="1"
                                                                colspan="1">
                                                                S.No</i></th>
                                                            <th class="bg-transparent border-bottom odd sorting"
                                                                tabindex="0" rowspan="1" colspan="1"
                                                                style="width: 159.825px; text-align:center;">
                                                                Post Name</i></th>
                                                            <th class="bg-transparent border-bottom odd sorting"
                                                                tabindex="0" rowspan="1" colspan="1"
                                                                style="width: 121.825px; text-align:center;">
                                                                Image</i></th>
                                                            <th class="bg-transparent border-bottom odd " tabindex="0"
                                                                rowspan="1" colspan="1"
                                                                style="width: 89.2px; text-align:center;">
                                                                Description</th>
                                                            <th class="bg-transparent border-bottom odd sorting"
                                                                rowspan="1" colspan="1"
                                                                style="width: 99.7875px; text-align:center;">
                                                                Status</i></th>
                                                            <th class="bg-transparent border-bottom odd " rowspan="1"
                                                                colspan="1"
                                                                style="width: 139.038px; text-align:center;">
                                                                Reason</th>

                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        {% for data in response.post_details %}
                                                        <tr class="border-bottom odd">
                                                            <td class="text-center">
                                                                <div class="mt-0 mt-sm-2 d-block">
                                                                    <h6 class="mb-0 fs-14 fw-semibold">
                                                                        {{forloop.counter}}</h6>
                                                                </div>
                                                            </td>
                                                            <td class="text-center">
                                                                <div class="ms-3 mt-0 mt-sm-2 d-block">
                                                                    <h6 class="mb-0 fs-14 fw-semibold">
                                                                        {{data.post_name}}
                                                                    </h6>
                                                                </div>
                                                            </td>
                                                            <td class="text-center">
                                                                <div class="mt-0 mt-sm-3 d-block">
                                                                    <h6 class="mb-0 fs-14 fw-semibold">
                                                                        <img src="http://127.0.0.1:8000/media/{{data.upload_image}}"
                                                                            alt="img" width="100px" height="70px">
                                                                    </h6>
                                                                </div>
                                                            </td>

                                                            <td class="text-center">
                                                                <div class="mt-0 mt-sm-2 d-block">
                                                                    <h6 class="mb-0 fs-14 fw-semibold">
                                                                        {{data.description}}</h6>
                                                                </div>
                                                            </td>
                                                            {% if data.status == "Approved" %}
                                                            <td class="text-center"
                                                                style="color:green; font-weight:bold;">
                                                                <div class="mt-0 mt-sm-2 d-block">
                                                                    <h6 class="mb-0 fs-14 fw-semibold">
                                                                        Approved</h6>
                                                                </div>
                                                            </td>
                                                            {% elif data.status == "Rejected" %}
                                                            <td class="text-center"
                                                                style="color:red; font-weight:bold;">
                                                                <div class="mt-0 mt-sm-2 d-block">
                                                                    <h6 class="mb-0 fs-14 fw-semibold">
                                                                        Rejected</h6>
                                                                </div>
                                                            </td>
                                                            {% else %}
                                                            <td class="text-center"
                                                                style="color:blue; font-weight:bold;">
                                                                <div class="mt-0 mt-sm-2 d-block">
                                                                    <h6 class="mb-0 fs-14 fw-semibold">
                                                                        Pending</h6>
                                                                </div>
                                                            </td>
                                                            {% endif %}
                                                            {% if data.status == "Approved" %}
                                                            <td> </td>
                                                            {% elif data.status == "Rejected" %}
                                                            <td class="text-center"
                                                                style="color:red; font-weight:bold;">
                                                                <div class="mt-0 mt-sm-2 d-block">
                                                                    <h6 class="mb-0 fs-14 fw-semibold">
                                                                        {{data.reason}}</h6>
                                                                </div>
                                                            </td>
                                                            {% else %}
                                                            <td> </td>
                                                            {% endif %}
                                                        </tr>

                                                        {% endfor %}
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    
</div>

    {% endblock %}